body {
	background-color: lightblue;
	background: url('../img/bg4.jfif') no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: orange;
	font-family: 'Indie Flower', cursive;
}

p {
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-size: 50px;
	margin-bottom: 0;
}

h2 {
	text-transform: uppercase;
	letter-spacing: 2px;
}

#me {
	height: 220px;
	border-radius: 50%;
	border-style: solid;
	border-width: 5px;
	border-color: orange;
	margin-top: 50px;
}

.about {
	width: 100%;
}

.container {
	width: 500px;
	margin: 0 auto;
	text-align: center;
}