/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#gradient-background {
	background: rgba(21,101,192,1);
	background: -moz-linear-gradient(rgba(21,101,192,1) 0%, rgba(21,101,192,1) 0%, rgba(21,101,192,1) 0%, rgba(21,101,192,1) 0%, rgba(21,101,192,1) 0%, rgba(21,101,192,1) 0%, rgba(21,99,188,1) 4%, rgba(21,101,192,1) 6%, rgba(150,198,243,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(21,101,192,1)), color-stop(0%, rgba(21,101,192,1)), color-stop(0%, rgba(21,101,192,1)), color-stop(0%, rgba(21,101,192,1)), color-stop(0%, rgba(21,101,192,1)), color-stop(0%, rgba(21,101,192,1)), color-stop(4%, rgba(21,99,188,1)), color-stop(6%, rgba(21,101,192,1)), color-stop(100%, rgba(150,198,243,1)));
	background: -webkit-linear-gradient(rgba(21,101,192,1) 0%, rgba(21,101,192,1) 0%, rgba(21,101,192,1) 0%, rgba(21,101,192,1) 0%, rgba(21,101,192,1) 0%, rgba(21,101,192,1) 0%, rgba(21,99,188,1) 4%, rgba(21,101,192,1) 6%, rgba(150,198,243,1) 100%);
	background: -o-linear-gradient(rgba(21,101,192,1) 0%, rgba(21,101,192,1) 0%, rgba(21,101,192,1) 0%, rgba(21,101,192,1) 0%, rgba(21,101,192,1) 0%, rgba(21,101,192,1) 0%, rgba(21,99,188,1) 4%, rgba(21,101,192,1) 6%, rgba(150,198,243,1) 100%);
	background: -ms-linear-gradient(rgba(21,101,192,1) 0%, rgba(21,101,192,1) 0%, rgba(21,101,192,1) 0%, rgba(21,101,192,1) 0%, rgba(21,101,192,1) 0%, rgba(21,101,192,1) 0%, rgba(21,99,188,1) 4%, rgba(21,101,192,1) 6%, rgba(150,198,243,1) 100%);
	background: linear-gradient(135deg, rgba(21,101,192,1) 0%, rgba(21,101,192,1) 0%, rgba(21,101,192,1) 0%, rgba(21,101,192,1) 0%, rgba(21,101,192,1) 0%, rgba(21,101,192,1) 0%, rgba(21,99,188,1) 4%, rgba(21,101,192,1) 6%, rgba(150,198,243,1) 100%);
}

h1,
h2,
h3, 
h4,
h5,  
h6 {
	font-family: 'Quattrocento Sans', sans-serif;
}

h6 {
	color: #fff;
}

p,
li, 
label {
	font-family: 'Lato', sans-serif;
}

h2,
h3,
h4,
h5,
button,
.course > h5,
.course > p {
	text-align: center;
}

.material-icons {
	color: #fff;
}

ul.collapsible .material-icons {
	color: #000;
}

.container {
	width: 100%;
}

.contribute-area {
	padding: 20px;
	margin-top: -20px;
	margin-bottom: 0;
}

.center-element {
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);	
}

form, .contributor, .box, .book {
	text-align: center;
	margin: 25px 5px;
	background-color: #fff;
	padding: 10px;
	box-shadow: 2px 2px 10px rgba(0,0,0,.4);
}

.book {
	width: 250px;
	height: 300px;
	overflow: hidden;
}

.col > .course {
	width: 40%;
}

label {
	font-size: 16px;
	font-weight: bold;
	display: block;
	color: #3A539B;
}

#input-format, .lesson {
	width: 80%;
}

.button-flat {
	border-radius: 0;
	background-color: #1abc9c;
	box-shadow: 0 0 0;
	margin: 0 5px 5px 5px;
}

.img-registration {
	height: 350px;
	width: 550px;
	box-shadow: 2px 2px 10px rgba(0,0,0,.4)
}

.parallax-container {
	opacity: .9;
}

div.parallax-container > div.parallax > img[src*="img/children"] {
	margin-top: -60px;
}

.parallax-landing-page {
	margin-top: -20px;
}

.page-footer a:hover {
	color: #64ffda;
 	text-decoration: underline;
}

.footer-copyright li {
	display: inline-block;
	float: right;
	margin: 10px;
	margin-top: -25px;
}

.welcome-page {
	padding: 15px;
	margin-bottom: 10px;
}

.footer-nav {
	padding: 20px;
}

.lesson-list,
.collapsible-body p {
	margin: 10px;
}

.lesson-list > li {
	list-style-type: square !important;
	margin-left: 15px;
}

.code-indentation {
	padding-left: 20px;
}

.collapsible {
	margin-left: 20px;
}

@media (max-width: 600px) {

	.contributor, .lesson {
		margin: 10px;		
	}

	.lesson {
		width: 100%;
	}

}

@media (min-width: 601px) and (max-width: 1039px) {

	.contributor {
		margin-left: 15px;
	}

	.page-footer {
		text-align: center;
	}

	.contributor {
		width: 47%;
	}

}

@media (min-width: 1040px) {

	.contributor {
		width: 32%;
		margin: 5px;
	}

	.lesson {
		width: 80%;
	}

}