/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #ecf0f1;
}

h1,
h2,
h3, 
h4, 
h5, 
h6 {
	font-family: 'Ubuntu Mono', monospace;
}


p,
li, 
label {
	font-family: 'Ubuntu', sans-serif;
}

h2,
h3,
h4,
h5,
.course > h5,
.course > p,
button {
	text-align: center;
}

.all-course {
	opacity: 0.9;
	margin-top: -30px;
	margin-bottom: -20px;
}

#course {
	margin: 5px;
	padding: 10px;
}

.center-element {
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);	
}

form, #course, #books, #contributors {
	text-align: center;
	margin: 25px 5px;
	background-color: #fff;
	padding: 10px;
	box-shadow: 2px 2px 10px rgba(0,0,0,.4);
}

label {
	font-size: 16px;
	font-weight: bold;
	display: block;
	color: #3A539B;
}

#input-format {
	width: 80%;
}

#button-flat {
	border-radius: 0;
	background-color: #1abc9c;
	box-shadow: 0 0 0;
	margin: 0 5px 5px 5px;
}

nav, footer {
	color: #C8F7C5;
}

.img-registration {
	height: 350px;
	width: 550px;
	box-shadow: 2px 2px 10px rgba(0,0,0,.4)
}

.parallax-container {
	height: 380px;
	opacity: 0.6;
}

#books {
	width: 250px;
	height: 300px;
	overflow: hidden;
}

@media (max-width: 600px) {

	#course, #contributors {
		margin-left: 0;
	}

}

@media (min-width: 601px) and (max-width: 1039px) {

	#course, #contributors {
		margin-left: 0;
	}


	.page-footer {
		text-align: center;
	}

	#contributors {
		width: 47%;
		margin: 5px;
	}
}

@media (min-width: 1040px) {

	#contributors {
		width: 32%;
		margin: 5px;
	}

}