/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; /* to avoid overflow(horizontal scrollbar)*/
}

.container {
	background-color: #eaedf0;
}


.page {
	width: 900px;
	margin: 0 auto;
	/*border: 1px solid red;*/
}


.menu {
	height: 100px;
	background-color: #b2d6ff; /* blue */
}

.sidebar {
	height: 300px;
	background-color: #f09a9d; /* red */
	width: 200px;
	float: left;
	/*opacity: 0.5*/
}

.content {
	/*height: 500px;*/
	width: 650px;
	background-color: #f5cf8e; /* yellow */
	float: left;
	/*opacity: 0.5*/
	padding: 20px;
}

.article-image {
	width: 300px;
	height: 300px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.footer {
	clear: both; /* will remove floating side-effects*/
	/*height: 200px;*/
	background-color: #d6e9fe; /* light 
	blue*/
	/*border: 1px solid red;*/
}

.column {
	height: 160px;
	width: 31%;
	background-color: #b2d6ff;
	float: left;
	margin: 20px 1.16%;
	position: relative;
}

.avatar > img {
	width: 70px;
	height: 70px;
	background-color: #d6e9ff;
	border-radius: 10%;
	margin: 20px;
	float: left;
}

.username {
	margin-top: 30px;
}

.comment {
	margin: 10px;
	overflow: hidden;
}


/*
 *
 * Best Practice to clear floats
 *
 */

/* applied to parent containers */
.clear:after {
	content: ""; /* empty string or invisible element*/
	clear: both;
	display: block;
}

/*
 *
 * CSS Workaround for multiline ellipsis
 *
 */

/* managing text with overflow */
.block-with-text {
	overflow: hidden;
	position: relative;
	line-height: 1.2em;
	max-height: 3.6em;
	text-align: justify;
	margin-right: -1em;
	padding-right: 30px;
 }

/* for comments longer than alloted height */
.block-with-text:before {
 	content: "...";
 	position: absolute;
 	right: 17px;
 	bottom: 0;
}

/* for comments shorter that alloted height */
.block-with-text:after {
 	content: "";
 	position: absolute;
 	right: 17px;
 	width: 1em;
 	height: 1em;
 	margin-top: 0.2em;
 	background: #b2d6ff;
}

.readmore {
	position: absolute;
	right: 18px;
	bottom: 16px;
}