/* CSS reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;  /*to avoid overflowing elements added in reset*/
	/*box-sizing: content-box; default valuw of box-sizing. */
}

.wrapper{
	border: 1px solid violet;
	width: 48%;
	margin: 20px auto;
	padding: 10px;
}

div.wrapper > div,
div.wrapper > div > div  {
	background-color: skyblue;
	padding: 20px;
	text-align: center;
	border-radius: 5px;
	border: 5px solid purple;
	margin-top: 25px;
	width: 50%;
}

h1,
p {
	background-color: #dde0e3;
}
/* from inline type to block type elements */
em,
strong {
	background-color: #b2d6ff;
	display: inline;
}

h1 {
	padding: 50px;
	/*
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 30px;
	padding-left: 40px;
	*/

	/*
	border-top: 1px solid crimson;
	border-right: 1px solid crimson;
	border-bottom: 1px solid crimson;
	border-left: 1px solid crimson;
	*/

	border: 5px solid blue;
	/*margin: 10px;*/
}

strong {
	/*padding: 50px;*/
	margin: 50px;
}

p {
	padding: 14px;
	/*margin-bottom: 50px;*/
	margin-top: 25px;
}

span {
	font-size: 2em; /* 1em = 16px(default font-size) */
	color: red;
}


