/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; /* to avoid overflow(horizontal scrollbar)*/
}

body {
	background-color: #fff; 
	background-image: 
		linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
		linear-gradient(#eee .1em, transparent .1em);
	background-size: 100% 1.2em;
}

p, h1, h2 {
	color:  #436060;
	margin: 10px;
	font-family: 'Raleway', sans-serif;	
}

h3, h5, h4 {
	color: #e7e8ed;
	margin-left: 10px;
	font-family: 'Raleway', sans-serif;
}

img {
	border-radius: 20px;
	border: 5px solid #f1ffa5;
	box-shadow: 3px 3px 5px black;
}

.caption {
	color: white;
	margin: 10px;
	text-align: center;
	position: relative;
	top: 25px;
}

.black-container {
	background-color: #e7e8ed;
	width: 700px;
	padding: 10px;
	margin: 0 auto;
	box-shadow: 5px 5px 5px black;
}

.greybox {
	width: 150px;
	height: 150px;
	margin: 10px;
	/*background-color: grey;*/
	float: left;
	/*position: relative;*/
}

.border {
	border: 3px solid white;
	float: left;
	padding: 10px;
	padding-bottom: 50px;
	margin: 10px;
}

.greybox2 {
	width: 150px;
	height: 150px;
/*	background-color: grey;*/
}

.greybox2 > img {
	box-shadow: 0 5px 5px black;
}

.greybox3 {
	width: 150px;
	height: 150px;
	/*background-color: grey;*/
	float: left;
	margin-right: 10px;
}

.greybox3 > img {
	width: 150px;
	height: 145px;
	box-shadow: 0 0 0;
	border: 2px solid #f1ffa5;
	border-radius: 5px;
}

.sidebar {
	width: 20%;
	float: left;
	margin: 10px;
}

.content {
	width: 77%;
	float: left;
}

div.content p {
	font-style: italic;
}

.five-img {
	width: 7%;
	float: left;
}

.five-comment {
	width: 91%;
	float: left;
	padding: 0px;
	margin: 0px;
}

.comment {
	width: 100%;
	margin-left: 0;
	padding-left: 10px;
}

.comment p {
	font-style: italic;
}

.subcomment {
	border-left: 1px solid white;
	margin: 20px;
}

.greybox-5 {
	height: 50px;
	width: 50px;
	/*background-color: grey;*/
}

.greybox-5 > img {
	height: 50px;
	width: 50px;
	border: 0;
	border-radius: 3px;
	box-shadow: 0 0 0;
}

form {
	width: 100%;
}

textarea {
	width: 100%;
	height: 150px;
	margin-bottom: 10px;
	margin-left: 5px;
}

input[type="submit"]{
	float: right;
	margin-left: 5px;
}

a {
	float: left;
	margin: 10px;
	margin-top: 0;
}

.black-container-2 {
	width: 500px;
	padding: 10px;
	background-color: #e7e8ed;
	margin: 0 auto;
	box-shadow: 5px 5px 5px black;
}

.side-two {
	width: 40%;
	float: left;
}

.side-one {
	width: 60%;
	float: left;
}

.greybox-seven {
	width: 100%;
	height: 100px;
	/*background-color: grey;*/
}

.greybox-seven > img {
	height: 100px;
	width: 100%;
	border: 0;
	border-radius: 8px;
	box-shadow: 0 0 0;
}

span {
	display: block;
	color: grey;
	margin-left: 10px;
	line-height: .9em;
}

.side-one-9 {
	width: 30%;
	float: left;
}

.side-two-9 {
	width: 69%;
	float: left;
}

input[value="Read more"]{
	float: left;
	margin: 10px;
}

.greybox-9 {
	width: 150px;
	height: 150px;
	/*background-color: grey;*/
	margin-right: 5px;
	margin-bottom: 5px;
	float: left;
}

.greybox-9 > img {
	border-radius: 10px;
	border: 3px solid #f1ffa5;
	height: 150px;
	width: 150px;
}

.black-container-3 {
	width: 1000px;
	padding: 10px;
	background-color: #e7e8ed;
	margin: 0 auto;
	box-shadow: 5px 5px 5px black;
}

.border-ten {
	width: 150px;
	padding: 10px;
	margin: 10px;
	border: 1px solid white;
	float: left; 
}

.greybox-10 {
	width: 100%;
	height: 100px;
	/*background-color: grey;*/
}

.greybox-10 > img {
	border-radius: 10px;
	border: 0 0 0;
	height: 100px;
	width: 100%;
	border: 0;
}

.caption-ten {
	margin: 10px;
	color:  #436060;
	text-align: center;
	position: relative;
}

.greybox-10-2 {
	width: 100%;
	height: 200px;
	/*background-color: grey;*/
}

.greybox-10-2 > img {
	border-radius: 10px;
	height: 200px;
	width: 100%;

}

ul {
	margin: 20px;
	margin-left: 5px;
}

li {
	display: inline;
	color: white;
	margin-right: 5px;
	background-color: grey;
}

.baguio-box {
	width: 150px;
	height: 100px;
	margin-right: 5px;
	/*background-color: grey;*/
	float: left;
}

.baguio-box > img {
	border-radius: 10px;
	border: 0 0 0;
	height: 100px;
	width: 150px;
}

.content-ten {
	width: 100%;
	float: left;
}

.content-ten p {
	margin: 0px;
	padding: 0px;
	padding-bottom: 10px;
	font-style: italic;
}

.content-ten h1 {
	margin: 0px;
	padding: 0px;
	margin-bottom: 5px;
}



/*
 *
 * Best Practice to clear floats
 *
 */

/* applied to parent containers */
.clear:after {
	content: ""; /* empty string or invisible element*/
	clear: both;
	display: block;
}